<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" src="uploads/logo.png">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/incidentes/incidentes">Incidentes</a></li>
        <li><a href="/incidentes/nuevo-incidente">Crear incidente</a></li>
      </ul>
    </div>
</nav>
        